<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/Layout">
<head>
<title>Gestion-Stagiaire</title>
<meta charset="utf-8">
<!-- Main CSS-->
<link rel="stylesheet" type="text/css" href="..static/css/main.css"
	th:href=@{/css/main.css}>
<!-- Font-icon css-->
<link rel="stylesheet" type="text/css"
	href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css"
	th:href=@{https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css}>
</head>


<body class="app sidebar-mini">
	<!-- Navbar-->
	<header class="app-header">
		<a class="app-header__logo" href="index.html">Gestion-Stagiaire</a>
		<a class="app-sidebar__toggle" href="#" data-toggle="sidebar" aria-label="Hide Sidebar"></a>
		<ul class="app-nav">
			</li>
			<!-- User Menu-->
			<li class="dropdown">
			<li><a class="dropdown-item" href="Logout_Etudiant"
				style="border-top-width: 13px; padding-top: 14px; padding-bottom: 14px;"><i
					class="fa fa-sign-out fa-lg"></i>Se déconnecter</a></li>
			</li>
		</ul>
	</header>
	<!-- Sidebar menu-->
	<div class="app-sidebar__overlay" data-toggle="sidebar"></div>
	
		<aside class="app-sidebar">
		<div class="app-sidebar__user">
			<img class="app-sidebar__user-avatar" src="..static/images/user.jpg"
				th:src=@{images/user.jpg} 
				alt="User Image">
			<div>
				<p class="app-sidebar__user-name"  th:text="${Etudiant.getNom_etd()} +' '+ ${Etudiant.getPrenom_etd()}"/>
				<p class="app-sidebar__user-designation">Etudiant</p>
			</div>
		</div>
		<ul class="app-menu">
			<li><a class="app-menu__item " href="Acceuil_Etudiant"><i
					class="app-menu__icon fa fa-line-chart"></i><span
					class="app-menu__label">Statistique</span></a></li>

			<li><a class="app-menu__item" href="/Liste-OffresEtudiant"><i
					class="app-menu__icon fa fa-medkit"></i><span
					class="app-menu__label">Liste Offres</span></a></li>
			<li><a class="app-menu__item" href="/Curriculum_vitae"><i
					class="app-menu__icon fa fa-file-text"></i><span
					class="app-menu__label">Curriculum vitae</span></a></li>
			<li><a class="app-menu__item" href="/Liste_Offre_Convention"><i
					class="app-menu__icon fa fa-pencil-square-o"></i><span class="app-menu__label">Demande de convention</span></a></li>
			<li><a class="app-menu__item" href="/Liste-Stage-Etudiant"><i
					class="app-menu__icon fa fa-list"></i><span
					class="app-menu__label">Liste de stages</span></a>
					</li>
			<li><a class="app-menu__item" href="/Liste_Entretien"><i
					class="app-menu__icon fa fa-bell"></i><span
					class="app-menu__label">Appel Entretiens</span></a>
					</li>
					
					<li><a class="app-menu__item" href="/Liste_Convention_Accepter"><i
					class="app-menu__icon fa fa-list"></i><span
					class="app-menu__label">Liste conventiens</span></a>
					</li>
		 </ul>
	</aside>

	<main class="app-content">
		<div class="row">
			<div class="col-lg-12">
				<h3 class="page-header" style="margin: 12px 0 20px;">
					<i class="fa fa-pencil-square-o" aria-hidden="true"></i> Demande de convention
				</h3>
				<nav aria-label="breadcrumb" style="background-color: white;">
					<ol class="breadcrumb">
						<li class="breadcrumb-item"><a href="/Acceuil_Etudiant"><i class="fa fa-line-chart"></i>  Statistique</a></li>
						<li class="breadcrumb-item active" aria-current="page"><i
							class="fa fa-pencil-square-o" aria-hidden="true"></i> Demande de convention</li>
					</ol>
				</nav>
			</div>
		</div>

		
		<div class="row">
			<br>
			<div class="col-md-12">
				<div class="tile">
					</br>
					<div class="tile-body">
						<div class="table-responsive">

							<table class="table table-hover table-bordered" id="sampleTable">
								<thead>
									<tr>
										<th>Nom Entreprise</th>
										<th>Sujet</th>
										<th>Date</th>
										<th>Action</th>
									</tr>
								</thead>
								<tbody>

									<tr th:each="E:${entretiens}">

										<td th:text="${E.getEntreprise().getNom_entr()}"/>
										<td th:text="${E.getOffre().getSujet_off()}"/>
										<td th:text="${E.getDate_entr()}"/>
										
										<td>
											<li class="list-inline-item">
												<button class="btn btn-danger" data-toggle="modal"
													data-target="#acceptemodel"
													th:data-accepte_id="${E.getOffre().getId_off()}"
													type="button"
													style="padding-left: 4px; padding-right: 4px;">
													<i class="fa fa-pencil-square-o icon_" aria-hidden="true"></i>Demande de convention
												</button>
										</li>
										</td>
									</tr>
								</tbody>
							</table>
						</div>
					</div>
				</div>
			</div>
		</div>
	</main>


	



<div class="modal fade" id="acceptemodel" tabindex="-1" role="dialog"
		aria-labelledby="delete" aria-hidden="true">
		<div class="modal-dialog" role="document">
			<form action="/Demande_Convention" method="POST">
				<div class="modal-content">
					<div class="modal-header">
						<h5 class="modal-title" id="exampleModalLabel">Demande de convention</h5>
						<button type="button" class="close" data-dismiss="modal"
							aria-label="Close">
							<span aria-hidden="true">&times;</span>
						</button>
					</div>
					<div class="modal-body">
						<input type="hidden" name="delete_id" id="delete_id">Voulez-vous
						envoyée une demande de convention ?
					</div>
					<div class="modal-footer">
						<button type="button" class="btn btn-secondary"
							data-dismiss="modal">Non</button>
						<button type="submit" class="btn btn-danger">Oui</button>
					</div>
				</div>
			</form>
		</div>
	</div>

	



	<!-- Essential javascripts for application to work-->
	<script src="..static/js/jquery-3.3.1.min.js"
		th:src=@{js/jquery-3.3.1.min.js}></script>
	<script src="..static/js/popper.min.js" th:src=@{js/popper.min.js}></script>
	<script src="..static/js/bootstrap.min.js"
		th:src=@{js/bootstrap.min.js}></script>
	<script src="..static/js/main.js" th:src=@{js/main.js}></script>
	<!-- The javascript plugin to display page loading on top-->
	<script src="..static/js/plugins/pace.min.js"
		th:src=@{js/plugins/pace.min.js}></script>
	<!-- Page specific javascripts-->
	<script type="text/javascript" src="..static/js/plugins/chart.js"
		th:src=@{js/plugins/chart.js}></script>
	<script type="text/javascript"
		src="https://cdn.datatables.net/plug-ins/1.10.21/i18n/French.json"></script>
	<script type="text/javascript"
		src="..static/js/plugins/jquery.dataTables.min.js"
		th:src=@{js/plugins/jquery.dataTables.min.js}></script>
	<script type="text/javascript"
		src="..static/js/plugins/dataTables.bootstrap.min.js"
		th:src=@{js/plugins/dataTables.bootstrap.min.js}></script>

	<script type="text/javascript">
		$('#sampleTable')
				.DataTable(
						{
							"language" : {
								"url" : "//cdn.datatables.net/plug-ins/9dcbecd42ad/i18n/French.json"
							},
							columnDefs : [ {
								targets : [ 3 ],
								orderable : false
							}, ]

						});

		
		
		
		$('#acceptemodel').on('show.bs.modal', function(event) {
			var button = $(event.relatedTarget)
			var accepte_id = button.data('accepte_id')

			var modal = $(this)
			modal.find('.modal-body #delete_id').val(accepte_id);

		})
		
		
	</script>


</body>
</html>