<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/Layout">
<head>
<title>Gestion-Stagiaire</title>
<meta charset="utf-8">
<!-- Main CSS-->
<link rel="stylesheet" type="text/css" href="..static/css/main.css"
	th:href=@{/css/main.css}>
<!-- Font-icon css-->
<link rel="stylesheet" type="text/css"
	href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css"
	th:href=@{https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css}>
</head>


<body class="app sidebar-mini">
	<!-- Navbar-->
	<header class="app-header">
		<a class="app-header__logo" href="index.html">Gestion-Stagiaire</a><a
			class="app-sidebar__toggle" href="#" data-toggle="sidebar"
			aria-label="Hide Sidebar"></a>
		<ul class="app-nav">
			</li>
			<!-- User Menu-->
			<li class="dropdown">
			<li><a class="dropdown-item" href="Logout_Ecole"
				style="border-top-width: 13px; padding-top: 14px; padding-bottom: 14px;"><i
					class="fa fa-sign-out fa-lg"></i>Se déconnecter</a></li>
			</li>
		</ul>
	</header>

	<!-- Sidebar menu-->
	<div class="app-sidebar__overlay" data-toggle="sidebar"></div>
	
		<aside class="app-sidebar">
		<div class="app-sidebar__user">
			<img class="app-sidebar__user-avatar" src="..static/images/user.jpg"
				th:src=@{images/user.jpg} 
				alt="User Image">
			<div>
				<p class="app-sidebar__user-name" th:text="${ecole.getNom_ecole()}"/>
				<p class="app-sidebar__user-designation">Ecole</p>
			</div>
		</div>
			<ul class="app-menu">
			<li><a class="app-menu__item " href="/Acceuil_Ecole"><i
					class="app-menu__icon fa fa-line-chart"></i><span
					class="app-menu__label">Statistique</span></a></li>
		<li class="treeview"><a class="app-menu__item" href="Reservation_Client" data-toggle="treeview"><i class="app-menu__icon fa fa-users"></i><span class="app-menu__label">Etudiant</span><i class="treeview-indicator fa fa-angle-right"></i></a>
          <ul class="treeview-menu">
            <li><a class="treeview-item" href="/Liste-Etudiant"><i class="icon fa fa-circle-o"></i>Lister</a></li>
            <li><a class="treeview-item" href="/Liste-Etudiant-Sans-Stage"  rel="noopener"><i class="icon fa fa-circle-o"></i>Non stagiaire</a></li>
            <li><a class="treeview-item" href="/Compte_Etudiant"><i class="icon fa fa-circle-o"></i>Créer Compte</a></li>
          </ul>
        </li>
			<li><a class="app-menu__item" href="/Liste_Convention_Etudiant"><i
					class="app-menu__icon fa fa-pencil-square-o"></i><span class="app-menu__label">Demande Convention</span></a></li>
			<li><a class="app-menu__item" href="/Liste-Entreprise"><i
					class="app-menu__icon fa fa-list"></i><span
					class="app-menu__label">Liste Entreprise</span></a></li>
					
						<li><a class="app-menu__item" href="/Liste-Filiere"><i
					class="app-menu__icon fa fa-list"></i><span
					class="app-menu__label">Liste Filière</span></a></li>
		</ul>
	</aside>

	<main class="app-content">


		<div class="row">
			<div class="col-lg-12">
				<h3 class="page-header" style="margin: 12px 0 20px;">
					<i class="fa fa-list" aria-hidden="true"></i> Liste des étudiants
				</h3>
				<nav aria-label="breadcrumb" style="background-color: white;">
					<ol class="breadcrumb">
						<li class="breadcrumb-item"><a href="/Acceuil_Ecole"><i class=" fa fa-line-chart"></i>
							 Statistique</a></li>
						<li class="breadcrumb-item " aria-current="page"><a href="#"><i
							class="fa fa-users" aria-hidden="true"></i> Etudiant</a></li>
							<li class="breadcrumb-item active" aria-current="page"><i
							class="fa fa-list" aria-hidden="true"></i> Liste </li>
					</ol>
				</nav>
			</div>
		</div>

		<button type="button" id="new" class="btn btn-primary"
			data-toggle="modal" data-target="#Add_Doctor"
			style="margin-bottom: 10px;">
			Ajouter Etudiant <i class="fa fa-plus-square-o" aria-hidden="true"></i>
		</button>

		<div class="row">
			<br>
			<div class="col-md-12">
				<div class="tile">
					</br>
					<div class="tile-body">
						<div class="table-responsive">

							<table class="table table-hover table-bordered" id="sampleTable">
								<thead>
									<tr>

										<th>Nom</th>
										<th>Prénom</th>
										<th>Email</th>
										<th>Numéro de téléphone</th>
										<th>Filière</th>
										<th>Domaine</th>
										<th>Action</th>
									</tr>
								</thead>
								<tbody>

									<tr th:each="E:${etudiants}">

										<td th:text="${E.getNom_etd()}" />
										<td th:text="${E.getPrenom_etd()}" />
										<td th:text="${E.getMail_etd()}" />
										<td th:text="${E.getTele_etd()}" />
										<td th:text="${E.getFiliere().getFiliere()}" />
										<td th:text="${E.getDom_etd()}" />
										<td>
											<li class="list-inline-item">
												<button class="btn btn-success" data-toggle="modal"
													data-target="#editmodel" th:data-edit_id="${E.getId_etd()}"
													th:data-first_name="${E.getNom_etd()}"
													th:data-last_name="${E.getPrenom_etd()}"
													th:data-email="${E.getMail_etd()}"
													th:data-phone="${E.getTele_etd()}"
													th:data-filiere="${E.getFiliere().getFiliere()}"
													th:data-domaine="${E.getDom_etd()}"
													style="padding-left: 4px; padding-right: 4px;">
													<i class="fa fa-pencil-square-o" aria-hidden="true"></i>Modifier
												</button>
										</li>
											<li class="list-inline-item">

												<button class="btn btn-danger" data-toggle="modal"
													data-target="#deletemodel"
													th:data-delete_id="${E.getId_etd()}" type="button"
													style="padding-left: 4px; padding-right: 4px;">
													<i class="fa fa-trash" aria-hidden="true"></i>Supprimer
												</button>


										</li>
										</td>
									</tr>

								</tbody>
							</table>
						</div>
					</div>
				</div>
			</div>
		</div>
	</main>


	<div aria-hidden="true" aria-labelledby="myModalLabel" role="dialog"
		tabindex="-1" id="Add_Doctor" class="modal fade">
		<div class="modal-dialog">
			<div class="modal-content">
				<div class="modal-header">
					<h5 class="modal-title" id="exampleModalLabel">Ajouter un
						Etudiant</h5>
					<button aria-hidden="true" data-dismiss="modal" class="close"
						type="button">×</button>
				</div>

				<div class="modal-body">
					<form role="form" action="/Ajouter_Etudiant" method="POST"
						name="myForm">
						<div class="form-group">
							<label>Nom</label> <input type="text" class="form-control"
								name="First_name" placeholder="Nom" required />
						</div>
						<div class="form-group">
							<label>Prénom</label> <input type="text" class="form-control"
								name="Last_name" placeholder="Prénom" required>
						</div>
						<div class="form-group">
							<label>Email</label> <input type="Email" class="form-control"
								name="Email" placeholder="nom@exemple.com" required>
						</div>
						<div class="form-group">
							<label>Numéro de téléphone</label> <input type="text"
								class="form-control" name="phone" placeholder="0628978060"
								required>
						</div>

						
						
						
						
						 <div class="form-group">
									<label>filière</label> 
									<select class="form-control" name="filiere">
										<p th:each="F:${filieres}">
										<option th:value="${F.getId_filiere()}" th:text="${F.getFiliere()} "></option>
										</p>
									</select>
					     </div>

						<div class="form-group">
							<label>Domaine</label> <input type="text" class="form-control"
								name="domaine" placeholder="domaine" required>
						</div>
						<div class="modal-footer">
							<button type="submit" class="btn btn-secondary"
								data-dismiss="modal">Annuler</button>
							<button type="submit" class="btn btn-success ">Enregistrer</button>
						</div>
					</form>
				</div>
			</div>
		</div>
	</div>


	<div class="modal fade" id="deletemodel" tabindex="-1" role="dialog"
		aria-labelledby="delete" aria-hidden="true">
		<div class="modal-dialog" role="document">
			<form action="/Supprimer_Etudiant" method="POST">
				<div class="modal-content">
					<div class="modal-header">
						<h5 class="modal-title" id="exampleModalLabel">Supprimer un
							Etudiant</h5>
						<button type="button" class="close" data-dismiss="modal"
							aria-label="Close">
							<span aria-hidden="true">&times;</span>
						</button>
					</div>
					<div class="modal-body">
						<input type="hidden" name="delete_id" id="delete_id">Voulez-vous
						supprimer ce etudiant ?
					</div>
					<div class="modal-footer">
						<button type="button" class="btn btn-secondary"
							data-dismiss="modal">Non</button>
						<button type="submit" class="btn btn-danger">Oui</button>
					</div>
				</div>
			</form>
		</div>
	</div>




	<div aria-hidden="true" aria-labelledby="myModalLabel" role="dialog"
		tabindex="-1" id="editmodel" class="modal fade">
		<div class="modal-dialog">
			<div class="modal-content">
				<div class="modal-header">
					<h5 class="modal-title" id="exampleModalLabel">Modifier un
						Etudiant</h5>
					<button aria-hidden="true" data-dismiss="modal" class="close"
						type="button">×</button>
				</div>

				<div class="modal-body">
					<form role="form" action="/Modifier_etudiant" method="POST"
						name="myForm">
						<input type="hidden" id="edit_id" name="edit_id" />
						<div class="form-group">
							<label>Nom</label> <input type="text" class="form-control"
								name="first_name" id="first_name">
						</div>
						<div class="form-group">
							<label>Prénom</label> <input type="text" class="form-control"
								name="last_name" placeholder="last_name" id="last_name" required>
						</div>
						<div class="form-group">
							<label>Email</label> <input type="email" class="form-control"
								name="email" id='email'>
						</div>
						<div class="form-group">
							<label>Numéro de téléphone</label> <input type="text"
								class="form-control" name="phone" id='phone'>
						</div>
						
						
						
						 <div class="form-group">
									<label>filière</label> 
									<select class="form-control" name="filiere"   >
								       <p th:each="F:${filieres}">
										   <option th:id="${F.getFiliere()}" th:value="${F.getId_filiere()}" th:text="${F.getFiliere()}"> </option>
										</p>
									</select>
					    </div>
						
						
						<div class="form-group">
							<label>Domaine</label> <input type="text" class="form-control"
								name="domaine" id='domaine'>
						</div>
						<div class="modal-footer">
							<button type="submit" class="btn btn-secondary"
								data-dismiss="modal">Annuler</button>
							<button type="submit" class="btn btn-success ">Enregistrer</button>
						</div>

					</form>
				</div>
			</div>
		</div>
	</div>




	<!-- Essential javascripts for application to work-->
	<script src="..static/js/jquery-3.3.1.min.js"
		th:src=@{js/jquery-3.3.1.min.js}></script>
	<script src="..static/js/popper.min.js" th:src=@{js/popper.min.js}></script>
	<script src="..static/js/bootstrap.min.js"
		th:src=@{js/bootstrap.min.js}></script>
	<script src="..static/js/main.js" th:src=@{js/main.js}></script>
	<!-- The javascript plugin to display page loading on top-->
	<script src="..static/js/plugins/pace.min.js"
		th:src=@{js/plugins/pace.min.js}></script>
	<!-- Page specific javascripts-->
	<script type="text/javascript" src="..static/js/plugins/chart.js"
		th:src=@{js/plugins/chart.js}></script>
	<script type="text/javascript"
		src="https://cdn.datatables.net/plug-ins/1.10.21/i18n/French.json"></script>
	<script type="text/javascript"
		src="..static/js/plugins/jquery.dataTables.min.js"
		th:src=@{js/plugins/jquery.dataTables.min.js}></script>
	<script type="text/javascript"
		src="..static/js/plugins/dataTables.bootstrap.min.js"
		th:src=@{js/plugins/dataTables.bootstrap.min.js}></script>

	<script type="text/javascript">
		$('#sampleTable')
				.DataTable(
						{
							"language" : {
								"url" : "//cdn.datatables.net/plug-ins/9dcbecd42ad/i18n/French.json"
							},
							columnDefs : [ {
								targets : [ 6 ],
								orderable : false
							}, ]

						});

		$('#editmodel').on('show.bs.modal', function(event) {
			var button = $(event.relatedTarget)
			var edit_id = button.data('edit_id')
			var first_name = button.data('first_name')
			var last_name = button.data('last_name')
			var email = button.data('email')
			var phone = button.data('phone')
			var filiere = button.data('filiere')
        	var domaine = button.data('domaine')
			var modal = $(this)
			modal.find('.modal-body #edit_id').val(edit_id);
			modal.find('.modal-body #first_name').val(first_name);
			modal.find('.modal-body #last_name').val(last_name);
			modal.find('.modal-body #email').val(email);
			modal.find('.modal-body #phone').val(phone);
			//modal.find('.modal-body #filiere').val(filiere).selected="true";
			document.getElementById(filiere).selected = "true";
			modal.find('.modal-body #domaine').val(domaine);
		})

		$('#deletemodel').on('show.bs.modal', function(event) {
			var button = $(event.relatedTarget)
			var delete_id = button.data('delete_id')

			var modal = $(this)
			modal.find('.modal-body #delete_id').val(delete_id);

		})
	</script>


</body>
</html>