<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/Layout">
<head>
<title>Gestion-Stagiaire</title>
<meta charset="utf-8">
<!-- Main CSS-->
<link rel="stylesheet" type="text/css" href="..static/css/main.css" th:href=@{/css/main.css}>
<!-- Font-icon css-->
<link rel="stylesheet" type="text/css" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">

</head>
<body class="app sidebar-mini">
	<!-- Navbar-->
	<header class="app-header">
		<a class="app-header__logo" href="index.html">Gestion-Stagiaire</a>
		<a class="app-sidebar__toggle" href="#" data-toggle="sidebar" aria-label="Hide Sidebar"></a>
		<ul class="app-nav">
			</li>
			<!-- User Menu-->
			<li class="dropdown">
			<li><a class="dropdown-item" href="Logout_Responsable"
				style="border-top-width: 13px; padding-top: 14px; padding-bottom: 14px;"><i
					class="fa fa-sign-out fa-lg"></i>Se déconnecter</a></li>
			</li>
		</ul>
	</header>
	<!-- Sidebar menu-->
	<div class="app-sidebar__overlay" data-toggle="sidebar"></div>
	
		<aside class="app-sidebar">
		<div class="app-sidebar__user">
			<img class="app-sidebar__user-avatar" src="..static/images/user.jpg"
				th:src=@{images/user.jpg} 
				alt="User Image">
			<div>
				<p class="app-sidebar__user-name"  th:text="${Responsable.getNom_res()} +' '+ ${Responsable.getPrenom_res()}"/>
				<p class="app-sidebar__user-designation">Responsable</p>
			</div>
		</div>
		<ul class="app-menu">
			<li><a class="app-menu__item" href="/Acceuil_Responsable"><i
					class="app-menu__icon fa fa-line-chart"></i><span
					class="app-menu__label">Statistique</span></a></li>
			<li><a class="app-menu__item" href="/Liste_Ecole"><i
					class="app-menu__icon fa fa fa-list"></i><span
					class="app-menu__label">Liste Ecoles</span></a></li>
			<li><a class="app-menu__item" href="/Liste_Entreprise"><i
					class="app-menu__icon fa fa-list"></i><span
					class="app-menu__label">Liste Entreprises</span></a></li>
		</ul>
	</aside>
	<main class="app-content">
		<div class="row">
		<div class="col-lg-12">
			<h3 class="page-header" style="margin: 12px 0 20px;">
				<i class="fa fa-line-chart" aria-hidden="true"></i> Statistique
			</h3>
			<nav aria-label="breadcrumb" style="background-color: white;">
				<ol class="breadcrumb">
					<li class="breadcrumb-item active" aria-current="page"><i
						class="fa fa-line-chart" aria-hidden="true"></i> Statistique</li>
				</ol>
			</nav>
		</div>
	</div>
		<div class="row">
			<div class="col-md-6">
				<div class="widget-small primary coloured-icon">
					<i class="icon fa fa-university fa-3x"></i>
					<div class="info">
						<h4>Nombre Ecoles</h4>
						<p>
							<b th:text="${nbreEcole}"></b>
						</p>
					</div>
				</div>
			</div>
			<div class=" col-lg-6">
				<div class="widget-small info coloured-icon">
					<i class="icon fa fa-university fa-3x"></i>
					<div class="info">
						<h4>Nombre Entreprises</h4>
						<p>
							<b th:text="${nbreEntreprise}"></b>
						</p>
					</div>
				</div>
			</div>
			
			
		</div>
		<div class="row">
			<div class="col-md-12">
				<div class="tile">
					<h3 class="tile-title">Statistiques</h3>
					<div class="embed-responsive">
						<div id="piechart" style="width: 900px; height: 250px;"></div>
					</div>
				</div>
			</div>
			
			
		</div>
	
	</main>
	
	<script type="text/javascript" src="https://www.gstatic.com/charts/loader.js"></script>
    <script th:inline="javascript" >
      google.charts.load('current', {'packages':['corechart']});
      google.charts.setOnLoadCallback(drawChart);

      function drawChart() {

        var data = google.visualization.arrayToDataTable([
          ['Task', 'Hours per Day'],
          ["Pourcentage d'entreprises",     /*[[${nbreEntreprise}]]*/],
          ["Pourcentage d'écoles",     /*[[${nbreEcole}]]*/],
        
        ]);

        var options = {
          title: 'Pourcentage',
          colors: ['#17a2b8','#009688'],
        };

        var chart = new google.visualization.PieChart(document.getElementById('piechart'));

        chart.draw(data, options);
      }
    </script>
	<!-- Essential javascripts for application to work-->
	<script src="js/jquery-3.3.1.min.js"></script>
	<script src="js/popper.min.js"></script>
	<script src="js/bootstrap.min.js"></script>
	<script src="/js/main.js"></script>
	<!-- The javascript plugin to display page loading on top-->
	<script src="js/plugins/pace.min.js"></script>
	<!-- Page specific javascripts-->
	<script type="text/javascript" src="../static/js/plugins/chart.js"></script>

</body>
</html>